Classic Platform/4.4.0/General/AUTOSAR_MOD_AISpecification/catalog_V3_0_0.ml.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- edited with XMLSPY v5 rel. 4 U (http://www.xmlspy.com) by Herbert Klein (STZ XI-Works) -->
<!--W3C Schema generated by XMLSPY v5 rel. 4 U (http://www.xmlspy.com)-->
<!-- converted from catalog_V3_0_0.ml.dtd -->
<!--
*******************************************************************
 SPONSOR: ASAM Automotive Electronics (MSR) [AEL-MSR]


 CONTACT: If you want to read more about ASAM Automotive Electronics and their documentation
              check out the website below:

                      http://www.asam.net/

 COPYRIGHT: Copyright 2004 ASAM e.V
                All rights reserved.

 
 DISCLAIMER OF WARRANTY 
 
 ALTHOUGH THIS XML MODEL WAS CREATED WITH THE UTMOST CARE IT CANNOT 
 BE GUARANTEED THAT IT IS COMPLETELY FREE OF ERRORS OR INCONSISTENCIES.
 ASAM E.V. MAKES NO REPRESENTATIONS OR WARRANTIES WITH RESPECT TO THE 
 CONTENTS OR USE OF THIS XML MODEL, AND SPECIFICALLY DISCLAIMS ANY 
 EXPRESSED OR IMPLIED WARRANTIES OF MERCHANTABILITY OR FITNESS FOR ANY 
 PARTICULAR PURPOSE. NEITHER ASAM NOR THE AUTHOR(S) THEREFORE ACCEPT 
 ANY LIABILITY FOR DAMAGES OR OTHER CONSEQUENCES THAT ARISE FROM THE 
 USE OF THIS XML MODEL AND IT'S DOCUMENTATION.
 ASAM E.V. RESERVES THE RIGHT TO REVISE THIS PUBLICATION AND TO MAKE 
 CHANGES TO ITS CONTENT, AT ANY TIME, WITHOUT OBLIGATION TO NOTIFY 
 ANY PERSON OR ENTITY OF SUCH REVISIONS OR CHANGES.


compiled by Id: dtd-maker.mm,v 1.30 2004/07/27 13:05:41 beweiche Exp 
 compiled at Tue Jul 27 19:09:23 2004

 files: 
           catalog.dtd
           ..\11_assets\basis.entities.dtd
           ..\11_assets\basis.stdatt.dtd
           ..\11_assets\ml-masters.ml.dtd
           ..\11_assets\ml-elements.dtd
           assets.dtd Build:7 Build:1005 Build:1014 Build:2

    $Id: catalog_V3_0_0.ml.dtd,v 1.1 2004/07/27 17:13:16 beweiche Exp $
    $Log: catalog_V3_0_0.ml.dtd,v $
    Revision 1.1  2004/07/27 17:13:16  beweiche
    the first shot from dtd-factory


*******************************************************************-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="xml.xsd"/>
	<xs:element name="ABLOCK">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="SHORT-NAME"/>
				<xs:element ref="LONG-NAME" minOccurs="0"/>
				<xs:element ref="DESC" minOccurs="0"/>
				<xs:element ref="CATEGORY" minOccurs="0"/>
				<xs:element ref="ADMIN-DATA" minOccurs="0"/>
				<xs:element ref="DOMAIN" minOccurs="0"/>
				<xs:element ref="USABLE-FOR-VARIANTS" minOccurs="0"/>
				<xs:element ref="OWNER" minOccurs="0"/>
				<xs:element ref="SDGS" minOccurs="0"/>
				<xs:choice minOccurs="0">
					<xs:element ref="AREFS"/>
					<xs:element ref="FILES"/>
				</xs:choice>
			</xs:sequence>
			<xs:attribute name="DATE" type="xs:string"/>
			<xs:attribute name="F-ID-CLASS" type="xs:NMTOKEN" fixed="ABLOCK"/>
			<xs:attribute name="ID" type="xs:ID"/>
			<xs:attribute name="LABEL" type="xs:string"/>
			<xs:attribute name="REV" type="xs:string"/>
			<xs:attribute name="S" type="xs:string"/>
			<xs:attribute name="SI" type="xs:string"/>
			<xs:attribute name="SYSCOND" type="xs:string"/>
			<xs:attribute name="T" type="xs:string"/>
			<xs:attribute name="TI" type="xs:string"/>
			<xs:attribute name="UPD" type="xs:NMTOKEN"/>
			<xs:attribute name="VAR" type="xs:string"/>
			<xs:attribute name="VIEW" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ABLOCKS">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ABLOCK" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="S" type="xs:string"/>
			<xs:attribute name="SI" type="xs:string"/>
			<xs:attribute name="SYSCOND" type="xs:string"/>
			<xs:attribute name="T" type="xs:string"/>
			<xs:attribute name="TI" type="xs:string"/>
			<xs:attribute name="VIEW" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ADDRESS">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="S" type="xs:string"/>
					<xs:attribute name="SI" type="xs:string"/>
					<xs:attribute name="SYSCOND" type="xs:string"/>
					<xs:attribute name="T" type="xs:string"/>
					<xs:attribute name="TI" type="xs:string"/>
					<xs:attribute name="VIEW" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="ADMIN-DATA">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="LANGUAGE" minOccurs="0"/>
				<xs:element ref="USED-LANGUAGES" minOccurs="0"/>
				<xs:element ref="COMPANY-DOC-INFOS" minOccurs="0"/>
				<xs:element ref="DOC-REVISIONS" minOccurs="0"/>
				<xs:element ref="SDGS" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="S" type="xs:string"/>
			<xs:attribute name="SI" type="xs:string"/>
			<xs:attribute name="SYSCOND" type="xs:string"/>
			<xs:attribute name="T" type="xs:string"/>
			<xs:attribute name="TI" type="xs:string"/>
			<xs:attribute name="VIEW" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="AREF">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="CATEGORY" type="xs:string"/>
					<xs:attribute name="DOMAIN" type="xs:string"/>
					<xs:attribute name="F-ID-CLASS" type="xs:NMTOKEN" fixed="ABLOCK"/>
					<xs:attribute name="HYNAMES" type="xs:NMTOKENS" fixed="LINKEND ID-REF"/>
					<xs:attribute name="HYTIME" type="xs:NMTOKEN" fixed="CLINK"/>
					<xs:attribute name="ID-REF" type="xs:IDREF"/>
					<xs:attribute name="LABEL" type="xs:string"/>
					<xs:attribute name="REV" type="xs:string"/>
					<xs:attribute name="S" type="xs:string"/>
					<xs:attribute name="SI" type="xs:string"/>
					<xs:attribute name="SYSCOND" type="xs:string"/>
					<xs:attribute name="T" type="xs:string"/>
					<xs:attribute name="TI" type="xs:string"/>
					<xs:attribute name="VAR" type="xs:string"/>
					<xs:attribute name="VIEW" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="AREF-MOVED">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="CATEGORY" type="xs:string"/>
					<xs:attribute name="DOMAIN" type="xs:string"/>
					<xs:attribute name="F-ID-CLASS" type="xs:NMTOKEN" fixed="ABLOCK"/>
					<xs:attribute name="HYNAMES" type="xs:NMTOKENS" fixed="LINKEND ID-REF"/>
					<xs:attribute name="HYTIME" type="xs:NMTOKEN" fixed="CLINK"/>
					<xs:attribute name="ID-REF" type="xs:IDREF"/>
					<xs:attribute name="LABEL" type="xs:string"/>
					<xs:attribute name="REV" type="xs:string"/>
					<xs:attribute name="S" type="xs:string"/>
					<xs:attribute name="SI" type="xs:string"/>
					<xs:attribute name="SYSCOND" type="xs:string"/>
					<xs:attribute name="T" type="xs:string"/>
					<xs:attribute name="TI" type="xs:string"/>
					<xs:attribute name="VAR" type="xs:string"/>
					<xs:attribute name="VIEW" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="AREFS">
		<xs:complexType>
			<xs:choice maxOccurs="unbounded">
				<xs:element ref="AREF"/>
				<xs:element ref="AREF-MOVED"/>
			</xs:choice>
			<xs:attribute name="S" type="xs:string"/>
			<xs:attribute name="SI" type="xs:string"/>
			<xs:attribute name="SYSCOND" type="xs:string"/>
			<xs:attribute name="T" type="xs:string"/>
			<xs:attribute name="TI" type="xs:string"/>
			<xs:attribute name="VIEW" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="BR">
		<xs:complexType>
			<xs:attribute name="S" type="xs:string"/>
			<xs:attribute name="SI" type="xs:string"/>
			<xs:attribute name="SYSCOND" type="xs:string"/>
			<xs:attribute name="T" type="xs:string"/>
			<xs:attribute name="TI" type="xs:string"/>
			<xs:attribute name="VIEW" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="CATALOG">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="SHORT-NAME"/>
				<xs:element ref="CATEGORY" minOccurs="0"/>
				<xs:element ref="COMPANY-DATAS" minOccurs="0"/>
				<xs:element ref="ADMIN-DATA" minOccurs="0"/>
				<xs:element ref="AREF" minOccurs="0"/>
				<xs:element ref="ABLOCKS" minOccurs="0"/>
				<xs:element ref="MATCHING-DCIS" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="CREATOR" type="xs:string"/>
			<xs:attribute name="CREATOR-VERSION" type="xs:string"/>
			<xs:attribute name="F-CM-TOOL-ID" type="xs:string" fixed="$Id: catalog_V3_0_0.ml.dtd,v 1.1 2004/07/27 17:13:16 beweiche Exp $"/>
			<xs:attribute name="F-DTD-BUILD" type="xs:string" fixed="14"/>
			<xs:attribute name="F-DTD-VERSION" type="xs:string" fixed="3.0.0"/>
			<xs:attribute name="F-PUBID" type="xs:string" fixed="-//ASAM//DTD CONTAINER CATALOG:V3.0.0:LAI:IAI:ML:CC.DTD//EN"/>
			<xs:attribute name="S" type="xs:string"/>
			<xs:attribute name="SI" type="xs:string"/>
			<xs:attribute name="SYSCOND" type="xs:string"/>
			<xs:attribute name="T" type="xs:string"/>
			<xs:attribute name="TI" type="xs:string"/>
			<xs:attribute name="VIEW" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="CATEGORY">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="S" type="xs:string"/>
					<xs:attribute name="SI" type="xs:string"/>
					<xs:attribute name="SYSCOND" type="xs:string"/>
					<xs:attribute name="T" type="xs:string"/>
					<xs:attribute name="TI" type="xs:string"/>
					<xs:attribute name="VIEW" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="CHANGE">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="L-2" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="S" type="xs:string"/>
			<xs:attribute name="SI" type="xs:string"/>
			<xs:attribute name="SYSCOND" type="xs:string"/>
			<xs:attribute name="T" type="xs:string"/>
			<xs:attribute name="TI" type="xs:string"/>
			<xs:attribute name="VIEW" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="CITY">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="S" type="xs:string"/>
					<xs:attribute name="SI" type="xs:string"/>
					<xs:attribute name="SYSCOND" type="xs:string"/>
					<xs:attribute name="T" type="xs:string"/>
					<xs:attribute name="TI" type="xs:string"/>
					<xs:attribute name="VIEW" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="COMMENT">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="S" type="xs:string"/>
					<xs:attribute name="SI" type="xs:string"/>
					<xs:attribute name="SYSCOND" type="xs:string"/>
					<xs:attribute name="T" type="xs:string"/>
					<xs:attribute name="TI" type="xs:string"/>
					<xs:attribute name="VIEW" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="COMPANY-DATA">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="SHORT-NAME"/>
				<xs:element ref="LONG-NAME" minOccurs="0"/>
				<xs:element ref="DESC" minOccurs="0"/>
				<xs:element ref="CATEGORY" minOccurs="0"/>
				<xs:element ref="ADMIN-DATA" minOccurs="0"/>
				<xs:element ref="ROLES" minOccurs="0"/>
				<xs:element ref="TEAM-MEMBERS" minOccurs="0"/>
				<xs:element ref="COMPANY-SPECIFIC-INFO" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="F-ID-CLASS" type="xs:NMTOKEN" fixed="COMPANY-DATA"/>
			<xs:attribute name="F-NAMESPACE" type="xs:NMTOKENS" fixed="TEAM-MEMBER"/>
			<xs:attribute name="ID" type="xs:ID"/>
			<xs:attribute name="S" type="xs:string"/>
			<xs:attribute name="SI" type="xs:string"/>
			<xs:attribute name="SYSCOND" type="xs:string"/>
			<xs:attribute name="T" type="xs:string"/>
			<xs:attribute name="TI" type="xs:string"/>
			<xs:attribute name="VIEW" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="COMPANY-DATA-REF">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="F-ID-CLASS" type="xs:NMTOKEN" fixed="COMPANY-DATA"/>
					<xs:attribute name="HYNAMES" type="xs:NMTOKENS" fixed="LINKEND ID-REF"/>
					<xs:attribute name="HYTIME" type="xs:NMTOKEN" fixed="CLINK"/>
					<xs:attribute name="ID-REF" type="xs:IDREF"/>
					<xs:attribute name="S" type="xs:string"/>
					<xs:attribute name="SI" type="xs:string"/>
					<xs:attribute name="SYSCOND" type="xs:string"/>
					<xs:attribute name="T" type="xs:string"/>
					<xs:attribute name="TI" type="xs:string"/>
					<xs:attribute name="VIEW" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="COMPANY-DATAS">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="COMPANY-DATA" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="S" type="xs:string"/>
			<xs:attribute name="SI" type="xs:string"/>
			<xs:attribute name="SYSCOND" type="xs:string"/>
			<xs:attribute name="T" type="xs:string"/>
			<xs:attribute name="TI" type="xs:string"/>
			<xs:attribute name="VIEW" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="COMPANY-DOC-INFO">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="COMPANY-DATA-REF"/>
				<xs:element ref="DOC-LABEL" minOccurs="0"/>
				<xs:element ref="TEAM-MEMBER-REF" minOccurs="0"/>
				<xs:element ref="SDGS" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="S" type="xs:string"/>
			<xs:attribute name="SI" type="xs:string"/>
			<xs:attribute name="SYSCOND" type="xs:string"/>
			<xs:attribute name="T" type="xs:string"/>
			<xs:attribute name="TI" type="xs:string"/>
			<xs:attribute name="VIEW" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="COMPANY-DOC-INFOS">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="COMPANY-DOC-INFO" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="S" type="xs:string"/>
			<xs:attribute name="SI" type="xs:string"/>
			<xs:attribute name="SYSCOND" type="xs:string"/>
			<xs:attribute name="T" type="xs:string"/>
			<xs:attribute name="TI" type="xs:string"/>
			<xs:attribute name="VIEW" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="COMPANY-REVISION-INFO">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="COMPANY-DATA-REF"/>
				<xs:element ref="REVISION-LABEL" minOccurs="0"/>
				<xs:element ref="REVISION-LABEL-P1" minOccurs="0"/>
				<xs:element ref="REVISION-LABEL-P2" minOccurs="0"/>
				<xs:element ref="STATE" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="S" type="xs:string"/>
			<xs:attribute name="SI" type="xs:string"/>
			<xs:attribute name="SYSCOND" type="xs:string"/>
			<xs:attribute name="T" type="xs:string"/>
			<xs:attribute name="TI" type="xs:string"/>
			<xs:attribute name="VIEW" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="COMPANY-REVISION-INFOS">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="COMPANY-REVISION-INFO" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="S" type="xs:string"/>
			<xs:attribute name="SI" type="xs:string"/>
			<xs:attribute name="SYSCOND" type="xs:string"/>
			<xs:attribute name="T" type="xs:string"/>
			<xs:attribute name="TI" type="xs:string"/>
			<xs:attribute name="VIEW" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="COMPANY-SPECIFIC-INFO">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="RELATED-DOCS" minOccurs="0"/>
				<xs:element ref="SDGS" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="S" type="xs:string"/>
			<xs:attribute name="SI" type="xs:string"/>
			<xs:attribute name="SYSCOND" type="xs:string"/>
			<xs:attribute name="T" type="xs:string"/>
			<xs:attribute name="TI" type="xs:string"/>
			<xs:attribute name="VIEW" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="DATE">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="L-10" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="S" type="xs:string"/>
			<xs:attribute name="SI" type="xs:string"/>
			<xs:attribute name="SYSCOND" type="xs:string"/>
			<xs:attribute name="T" type="xs:string"/>
			<xs:attribute name="TI" type="xs:string"/>
			<xs:attribute name="VIEW" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="DATE-1">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="S" type="xs:string"/>
					<xs:attribute name="SI" type="xs:string"/>
					<xs:attribute name="SYSCOND" type="xs:string"/>
					<xs:attribute name="T" type="xs:string"/>
					<xs:attribute name="TI" type="xs:string"/>
					<xs:attribute name="VIEW" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="DEPARTMENT">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="S" type="xs:string"/>
					<xs:attribute name="SI" type="xs:string"/>
					<xs:attribute name="SYSCOND" type="xs:string"/>
					<xs:attribute name="T" type="xs:string"/>
					<xs:attribute name="TI" type="xs:string"/>
					<xs:attribute name="VIEW" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="DESC">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="L-2" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="S" type="xs:string"/>
			<xs:attribute name="SI" type="xs:string"/>
			<xs:attribute name="SYSCOND" type="xs:string"/>
			<xs:attribute name="T" type="xs:string"/>
			<xs:attribute name="TI" type="xs:string"/>
			<xs:attribute name="VIEW" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="DOC-LABEL">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="L-10" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="S" type="xs:string"/>
			<xs:attribute name="SI" type="xs:string"/>
			<xs:attribute name="SYSCOND" type="xs:string"/>
			<xs:attribute name="T" type="xs:string"/>
			<xs:attribute name="TI" type="xs:string"/>
			<xs:attribute name="VIEW" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="DOC-REVISION">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="REVISION-LABEL" minOccurs="0"/>
				<xs:element ref="REVISION-LABEL-P1" minOccurs="0"/>
				<xs:element ref="REVISION-LABEL-P2" minOccurs="0"/>
				<xs:element ref="STATE" minOccurs="0"/>
				<xs:element ref="ISSUED-BY" minOccurs="0"/>
				<xs:element ref="TEAM-MEMBER-REF" minOccurs="0"/>
				<xs:element ref="DATE" minOccurs="0"/>
				<xs:element ref="COMPANY-REVISION-INFOS" minOccurs="0"/>
				<xs:element ref="MODIFICATIONS" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="S" type="xs:string"/>
			<xs:attribute name="SI" type="xs:string"/>
			<xs:attribute name="SYSCOND" type="xs:string"/>
			<xs:attribute name="T" type="xs:string"/>
			<xs:attribute name="TI" type="xs:string"/>
			<xs:attribute name="VIEW" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="DOC-REVISIONS">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="DOC-REVISION" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="S" type="xs:string"/>
			<xs:attribute name="SI" type="xs:string"/>
			<xs:attribute name="SYSCOND" type="xs:string"/>
			<xs:attribute name="T" type="xs:string"/>
			<xs:attribute name="TI" type="xs:string"/>
			<xs:attribute name="VIEW" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="DOMAIN">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="S" type="xs:string"/>
					<xs:attribute name="SI" type="xs:string"/>
					<xs:attribute name="SYSCOND" type="xs:string"/>
					<xs:attribute name="T" type="xs:string"/>
					<xs:attribute name="TI" type="xs:string"/>
					<xs:attribute name="VIEW" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="E">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="COLOR" type="xs:string"/>
					<xs:attribute name="FONT">
						<xs:simpleType>
							<xs:restriction base="xs:NMTOKEN">
								<xs:enumeration value="MONO"/>
								<xs:enumeration value="DEFAULT"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="S" type="xs:string"/>
					<xs:attribute name="SI" type="xs:string"/>
					<xs:attribute name="SYSCOND" type="xs:string"/>
					<xs:attribute name="T" type="xs:string"/>
					<xs:attribute name="TI" type="xs:string"/>
					<xs:attribute name="TYPE" default="BOLD">
						<xs:simpleType>
							<xs:restriction base="xs:NMTOKEN">
								<xs:enumeration value="BOLD"/>
								<xs:enumeration value="ITALIC"/>
								<xs:enumeration value="BOLDITALIC"/>
								<xs:enumeration value="PLAIN"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="VIEW" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="EMAIL">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="S" type="xs:string"/>
					<xs:attribute name="SI" type="xs:string"/>
					<xs:attribute name="SYSCOND" type="xs:string"/>
					<xs:attribute name="T" type="xs:string"/>
					<xs:attribute name="TI" type="xs:string"/>
					<xs:attribute name="VIEW" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="FAX">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="S" type="xs:string"/>
					<xs:attribute name="SI" type="xs:string"/>
					<xs:attribute name="SYSCOND" type="xs:string"/>
					<xs:attribute name="T" type="xs:string"/>
					<xs:attribute name="TI" type="xs:string"/>
					<xs:attribute name="VIEW" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="FILE">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="CREATION-DATE" type="xs:string"/>
					<xs:attribute name="CREATOR" type="xs:string"/>
					<xs:attribute name="L" type="xs:string"/>
					<xs:attribute name="MIME-TYPE" type="xs:string"/>
					<xs:attribute name="S" type="xs:string"/>
					<xs:attribute name="SI" type="xs:string"/>
					<xs:attribute name="SYSCOND" type="xs:string"/>
					<xs:attribute name="T" type="xs:string"/>
					<xs:attribute name="TI" type="xs:string"/>
					<xs:attribute name="TYPE" type="xs:string"/>
					<xs:attribute name="VIEW" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="FILES">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="FILE" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="S" type="xs:string"/>
			<xs:attribute name="SI" type="xs:string"/>
			<xs:attribute name="SYSCOND" type="xs:string"/>
			<xs:attribute name="T" type="xs:string"/>
			<xs:attribute name="TI" type="xs:string"/>
			<xs:attribute name="VIEW" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="FT">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="TT"/>
				<xs:element ref="E"/>
			</xs:choice>
			<xs:attribute name="S" type="xs:string"/>
			<xs:attribute name="SI" type="xs:string"/>
			<xs:attribute name="SYSCOND" type="xs:string"/>
			<xs:attribute name="T" type="xs:string"/>
			<xs:attribute name="TI" type="xs:string"/>
			<xs:attribute name="VIEW" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="HOMEPAGE">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="S" type="xs:string"/>
					<xs:attribute name="SI" type="xs:string"/>
					<xs:attribute name="SYSCOND" type="xs:string"/>
					<xs:attribute name="T" type="xs:string"/>
					<xs:attribute name="TI" type="xs:string"/>
					<xs:attribute name="VIEW" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="IE">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="SUP"/>
				<xs:element ref="SUB"/>
			</xs:choice>
			<xs:attribute name="S" type="xs:string"/>
			<xs:attribute name="SI" type="xs:string"/>
			<xs:attribute name="SYSCOND" type="xs:string"/>
			<xs:attribute name="T" type="xs:string"/>
			<xs:attribute name="TI" type="xs:string"/>
			<xs:attribute name="TYPE" type="xs:string"/>
			<xs:attribute name="VIEW" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ISSUED-BY">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="L-10" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="S" type="xs:string"/>
			<xs:attribute name="SI" type="xs:string"/>
			<xs:attribute name="SYSCOND" type="xs:string"/>
			<xs:attribute name="T" type="xs:string"/>
			<xs:attribute name="TI" type="xs:string"/>
			<xs:attribute name="VIEW" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="L-1">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="TT"/>
				<xs:element ref="BR"/>
				<xs:element ref="XREF"/>
				<xs:element ref="XREF-TARGET"/>
				<xs:element ref="E"/>
				<xs:element ref="FT"/>
				<xs:element ref="SUP"/>
				<xs:element ref="SUB"/>
				<xs:element ref="IE"/>
				<xs:element ref="STD"/>
				<xs:element ref="XDOC"/>
				<xs:element ref="XFILE"/>
				<xs:element ref="MSR-QUERY-TEXT"/>
			</xs:choice>
			<xs:attribute name="L" type="xs:string" use="required"/>
			<xs:attribute name="S" type="xs:string"/>
			<xs:attribute name="SI" type="xs:string"/>
			<xs:attribute name="SYSCOND" type="xs:string"/>
			<xs:attribute name="T" type="xs:string"/>
			<xs:attribute name="TI" type="xs:string"/>
			<xs:attribute name="VIEW" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="L-10">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="L" type="xs:string" use="required"/>
					<xs:attribute name="S" type="xs:string"/>
					<xs:attribute name="SI" type="xs:string"/>
					<xs:attribute name="SYSCOND" type="xs:string"/>
					<xs:attribute name="T" type="xs:string"/>
					<xs:attribute name="TI" type="xs:string"/>
					<xs:attribute name="VIEW" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="L-2">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="TT"/>
				<xs:element ref="XREF"/>
				<xs:element ref="XREF-TARGET"/>
				<xs:element ref="E"/>
				<xs:element ref="FT"/>
				<xs:element ref="SUP"/>
				<xs:element ref="SUB"/>
				<xs:element ref="IE"/>
				<xs:element ref="MSR-QUERY-TEXT"/>
			</xs:choice>
			<xs:attribute name="L" type="xs:string" use="required"/>
			<xs:attribute name="S" type="xs:string"/>
			<xs:attribute name="SI" type="xs:string"/>
			<xs:attribute name="SYSCOND" type="xs:string"/>
			<xs:attribute name="T" type="xs:string"/>
			<xs:attribute name="TI" type="xs:string"/>
			<xs:attribute name="VIEW" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="L-4">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="TT"/>
				<xs:element ref="E"/>
				<xs:element ref="SUP"/>
				<xs:element ref="SUB"/>
				<xs:element ref="IE"/>
			</xs:choice>
			<xs:attribute name="L" type="xs:string" use="required"/>
			<xs:attribute name="S" type="xs:string"/>
			<xs:attribute name="SI" type="xs:string"/>
			<xs:attribute name="SYSCOND" type="xs:string"/>
			<xs:attribute name="T" type="xs:string"/>
			<xs:attribute name="TI" type="xs:string"/>
			<xs:attribute name="VIEW" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="L-5">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="E"/>
				<xs:element ref="XREF"/>
				<xs:element ref="BR"/>
			</xs:choice>
			<xs:attribute name="L" type="xs:string" use="required"/>
			<xs:attribute name="S" type="xs:string"/>
			<xs:attribute name="SI" type="xs:string"/>
			<xs:attribute name="SYSCOND" type="xs:string"/>
			<xs:attribute name="T" type="xs:string"/>
			<xs:attribute name="TI" type="xs:string"/>
			<xs:attribute name="VIEW" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="LABEL">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="L-4" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="S" type="xs:string"/>
			<xs:attribute name="SI" type="xs:string"/>
			<xs:attribute name="SYSCOND" type="xs:string"/>
			<xs:attribute name="T" type="xs:string"/>
			<xs:attribute name="TI" type="xs:string"/>
			<xs:attribute name="VIEW" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="LANGUAGE">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="S" type="xs:string"/>
					<xs:attribute name="SI" type="xs:string"/>
					<xs:attribute name="SYSCOND" type="xs:string"/>
					<xs:attribute name="T" type="xs:string"/>
					<xs:attribute name="TI" type="xs:string"/>
					<xs:attribute name="VIEW" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="LONG-NAME">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="L-4" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="S" type="xs:string"/>
			<xs:attribute name="SI" type="xs:string"/>
			<xs:attribute name="SYSCOND" type="xs:string"/>
			<xs:attribute name="T" type="xs:string"/>
			<xs:attribute name="TI" type="xs:string"/>
			<xs:attribute name="VIEW" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="LONG-NAME-1">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="TT"/>
				<xs:element ref="E"/>
				<xs:element ref="SUP"/>
				<xs:element ref="SUB"/>
				<xs:element ref="IE"/>
			</xs:choice>
			<xs:attribute name="S" type="xs:string"/>
			<xs:attribute name="SI" type="xs:string"/>
			<xs:attribute name="SYSCOND" type="xs:string"/>
			<xs:attribute name="T" type="xs:string"/>
			<xs:attribute name="TI" type="xs:string"/>
			<xs:attribute name="VIEW" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="MATCHING-DCI">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="LABEL" minOccurs="0"/>
				<xs:element ref="SHORT-LABEL" minOccurs="0"/>
				<xs:element ref="URL" minOccurs="0"/>
				<xs:element ref="REMARK" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="S" type="xs:string"/>
			<xs:attribute name="SI" type="xs:string"/>
			<xs:attribute name="SYSCOND" type="xs:string"/>
			<xs:attribute name="T" type="xs:string"/>
			<xs:attribute name="TI" type="xs:string"/>
			<xs:attribute name="VIEW" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="MATCHING-DCIS">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="MATCHING-DCI" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="S" type="xs:string"/>
			<xs:attribute name="SI" type="xs:string"/>
			<xs:attribute name="SYSCOND" type="xs:string"/>
			<xs:attribute name="T" type="xs:string"/>
			<xs:attribute name="TI" type="xs:string"/>
			<xs:attribute name="VIEW" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="MODIFICATION">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CHANGE"/>
				<xs:element ref="REASON" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="S" type="xs:string"/>
			<xs:attribute name="SI" type="xs:string"/>
			<xs:attribute name="SYSCOND" type="xs:string"/>
			<xs:attribute name="T" type="xs:string"/>
			<xs:attribute name="TI" type="xs:string"/>
			<xs:attribute name="TYPE" default="CONTENT-RELATED">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="CONTENT-RELATED"/>
						<xs:enumeration value="DOC-RELATED"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="VIEW" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="MODIFICATIONS">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="MODIFICATION" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="S" type="xs:string"/>
			<xs:attribute name="SI" type="xs:string"/>
			<xs:attribute name="SYSCOND" type="xs:string"/>
			<xs:attribute name="T" type="xs:string"/>
			<xs:attribute name="TI" type="xs:string"/>
			<xs:attribute name="VIEW" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="MSR-QUERY-ARG">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="XREF"/>
			</xs:choice>
			<xs:attribute name="S" type="xs:string"/>
			<xs:attribute name="SI" type="xs:string"/>
			<xs:attribute name="SYSCOND" type="xs:string"/>
			<xs:attribute name="T" type="xs:string"/>
			<xs:attribute name="TI" type="xs:string"/>
			<xs:attribute name="VIEW" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="MSR-QUERY-NAME">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="S" type="xs:string"/>
					<xs:attribute name="SI" type="xs:string"/>
					<xs:attribute name="SYSCOND" type="xs:string"/>
					<xs:attribute name="T" type="xs:string"/>
					<xs:attribute name="TI" type="xs:string"/>
					<xs:attribute name="VIEW" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="MSR-QUERY-PROPS">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="MSR-QUERY-NAME"/>
				<xs:element ref="MSR-QUERY-ARG" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="COMMENT" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="S" type="xs:string"/>
			<xs:attribute name="SI" type="xs:string"/>
			<xs:attribute name="SYSCOND" type="xs:string"/>
			<xs:attribute name="T" type="xs:string"/>
			<xs:attribute name="TI" type="xs:string"/>
			<xs:attribute name="VIEW" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="MSR-QUERY-RESULT-TEXT">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="L-2" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="S" type="xs:string"/>
			<xs:attribute name="SI" type="xs:string"/>
			<xs:attribute name="SYSCOND" type="xs:string"/>
			<xs:attribute name="T" type="xs:string"/>
			<xs:attribute name="TI" type="xs:string"/>
			<xs:attribute name="VIEW" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="MSR-QUERY-TEXT">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="MSR-QUERY-PROPS"/>
				<xs:element ref="MSR-QUERY-RESULT-TEXT" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="S" type="xs:string"/>
			<xs:attribute name="SI" type="xs:string"/>
			<xs:attribute name="SYSCOND" type="xs:string"/>
			<xs:attribute name="T" type="xs:string"/>
			<xs:attribute name="TI" type="xs:string"/>
			<xs:attribute name="VIEW" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="NOTATION">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="S" type="xs:string"/>
					<xs:attribute name="SI" type="xs:string"/>
					<xs:attribute name="SYSCOND" type="xs:string"/>
					<xs:attribute name="T" type="xs:string"/>
					<xs:attribute name="TI" type="xs:string"/>
					<xs:attribute name="VIEW" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="NUMBER">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="S" type="xs:string"/>
					<xs:attribute name="SI" type="xs:string"/>
					<xs:attribute name="SYSCOND" type="xs:string"/>
					<xs:attribute name="T" type="xs:string"/>
					<xs:attribute name="TI" type="xs:string"/>
					<xs:attribute name="VIEW" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="OWNER">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="S" type="xs:string"/>
					<xs:attribute name="SI" type="xs:string"/>
					<xs:attribute name="SYSCOND" type="xs:string"/>
					<xs:attribute name="T" type="xs:string"/>
					<xs:attribute name="TI" type="xs:string"/>
					<xs:attribute name="VIEW" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="P">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="L-1" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="HELP-ENTRY" type="xs:string"/>
			<xs:attribute name="KEEP-WITH-PREVIOUS">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="KEEP"/>
						<xs:enumeration value="NO-KEEP"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="S" type="xs:string"/>
			<xs:attribute name="SI" type="xs:string"/>
			<xs:attribute name="SYSCOND" type="xs:string"/>
			<xs:attribute name="T" type="xs:string"/>
			<xs:attribute name="TI" type="xs:string"/>
			<xs:attribute name="VIEW" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="PHONE">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="S" type="xs:string"/>
					<xs:attribute name="SI" type="xs:string"/>
					<xs:attribute name="SYSCOND" type="xs:string"/>
					<xs:attribute name="T" type="xs:string"/>
					<xs:attribute name="TI" type="xs:string"/>
					<xs:attribute name="VIEW" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="POSITION">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="S" type="xs:string"/>
					<xs:attribute name="SI" type="xs:string"/>
					<xs:attribute name="SYSCOND" type="xs:string"/>
					<xs:attribute name="T" type="xs:string"/>
					<xs:attribute name="TI" type="xs:string"/>
					<xs:attribute name="VIEW" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="PUBLISHER">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="S" type="xs:string"/>
					<xs:attribute name="SI" type="xs:string"/>
					<xs:attribute name="SYSCOND" type="xs:string"/>
					<xs:attribute name="T" type="xs:string"/>
					<xs:attribute name="TI" type="xs:string"/>
					<xs:attribute name="VIEW" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="REASON">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="L-2" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="S" type="xs:string"/>
			<xs:attribute name="SI" type="xs:string"/>
			<xs:attribute name="SYSCOND" type="xs:string"/>
			<xs:attribute name="T" type="xs:string"/>
			<xs:attribute name="TI" type="xs:string"/>
			<xs:attribute name="VIEW" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="RELATED-DOC">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="XDOC"/>
				<xs:element ref="DESC" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="S" type="xs:string"/>
			<xs:attribute name="SI" type="xs:string"/>
			<xs:attribute name="SYSCOND" type="xs:string"/>
			<xs:attribute name="T" type="xs:string"/>
			<xs:attribute name="TI" type="xs:string"/>
			<xs:attribute name="VIEW" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="RELATED-DOCS">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="RELATED-DOC" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="S" type="xs:string"/>
			<xs:attribute name="SI" type="xs:string"/>
			<xs:attribute name="SYSCOND" type="xs:string"/>
			<xs:attribute name="T" type="xs:string"/>
			<xs:attribute name="TI" type="xs:string"/>
			<xs:attribute name="VIEW" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="REMARK">
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="P"/>
				<xs:element ref="VERBATIM"/>
			</xs:choice>
			<xs:attribute name="S" type="xs:string"/>
			<xs:attribute name="SI" type="xs:string"/>
			<xs:attribute name="SYSCOND" type="xs:string"/>
			<xs:attribute name="T" type="xs:string"/>
			<xs:attribute name="TI" type="xs:string"/>
			<xs:attribute name="VIEW" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="REVISION-LABEL">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="L-10" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="S" type="xs:string"/>
			<xs:attribute name="SI" type="xs:string"/>
			<xs:attribute name="SYSCOND" type="xs:string"/>
			<xs:attribute name="T" type="xs:string"/>
			<xs:attribute name="TI" type="xs:string"/>
			<xs:attribute name="VIEW" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="REVISION-LABEL-P1">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="S" type="xs:string"/>
					<xs:attribute name="SI" type="xs:string"/>
					<xs:attribute name="SYSCOND" type="xs:string"/>
					<xs:attribute name="T" type="xs:string"/>
					<xs:attribute name="TI" type="xs:string"/>
					<xs:attribute name="VIEW" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="REVISION-LABEL-P2">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="S" type="xs:string"/>
					<xs:attribute name="SI" type="xs:string"/>
					<xs:attribute name="SYSCOND" type="xs:string"/>
					<xs:attribute name="T" type="xs:string"/>
					<xs:attribute name="TI" type="xs:string"/>
					<xs:attribute name="VIEW" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="ROLE">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="L-10" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="S" type="xs:string"/>
			<xs:attribute name="SI" type="xs:string"/>
			<xs:attribute name="SYSCOND" type="xs:string"/>
			<xs:attribute name="T" type="xs:string"/>
			<xs:attribute name="TI" type="xs:string"/>
			<xs:attribute name="VIEW" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ROLES">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ROLE" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="F-CHILD-TYPE" type="xs:string" fixed="ROLE:SELECTION"/>
			<xs:attribute name="S" type="xs:string"/>
			<xs:attribute name="SI" type="xs:string"/>
			<xs:attribute name="SYSCOND" type="xs:string"/>
			<xs:attribute name="T" type="xs:string"/>
			<xs:attribute name="TI" type="xs:string"/>
			<xs:attribute name="VIEW" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="SD">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="GID" type="xs:string" use="required"/>
					<xs:attribute name="ID-CLASS" type="xs:NMTOKEN"/>
					<xs:attribute name="ID-REF" type="xs:IDREF"/>
					<xs:attribute name="S" type="xs:string"/>
					<xs:attribute name="SI" type="xs:string"/>
					<xs:attribute name="SYSCOND" type="xs:string"/>
					<xs:attribute name="T" type="xs:string"/>
					<xs:attribute name="TI" type="xs:string"/>
					<xs:attribute name="VIEW" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="SDG">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="SDG-CAPTION" minOccurs="0"/>
				<xs:choice minOccurs="0" maxOccurs="unbounded">
					<xs:element ref="SD" minOccurs="0"/>
					<xs:element ref="SDG" minOccurs="0"/>
				</xs:choice>
			</xs:sequence>
			<xs:attribute name="GID" type="xs:string" use="required"/>
			<xs:attribute name="S" type="xs:string"/>
			<xs:attribute name="SI" type="xs:string"/>
			<xs:attribute name="SYSCOND" type="xs:string"/>
			<xs:attribute name="T" type="xs:string"/>
			<xs:attribute name="TI" type="xs:string"/>
			<xs:attribute name="VIEW" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="SDG-CAPTION">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="SHORT-NAME"/>
				<xs:element ref="LONG-NAME" minOccurs="0"/>
				<xs:element ref="DESC" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="F-ID-CLASS" type="xs:NMTOKEN" fixed="SDG"/>
			<xs:attribute name="ID" type="xs:ID"/>
			<xs:attribute name="S" type="xs:string"/>
			<xs:attribute name="SI" type="xs:string"/>
			<xs:attribute name="SYSCOND" type="xs:string"/>
			<xs:attribute name="T" type="xs:string"/>
			<xs:attribute name="TI" type="xs:string"/>
			<xs:attribute name="VIEW" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="SDGS">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="SDG" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="S" type="xs:string"/>
			<xs:attribute name="SI" type="xs:string"/>
			<xs:attribute name="SYSCOND" type="xs:string"/>
			<xs:attribute name="T" type="xs:string"/>
			<xs:attribute name="TI" type="xs:string"/>
			<xs:attribute name="VIEW" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="SHORT-LABEL">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="S" type="xs:string"/>
					<xs:attribute name="SI" type="xs:string"/>
					<xs:attribute name="SYSCOND" type="xs:string"/>
					<xs:attribute name="T" type="xs:string"/>
					<xs:attribute name="TI" type="xs:string"/>
					<xs:attribute name="VIEW" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="SHORT-NAME">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="S" type="xs:string"/>
					<xs:attribute name="SI" type="xs:string"/>
					<xs:attribute name="SYSCOND" type="xs:string"/>
					<xs:attribute name="T" type="xs:string"/>
					<xs:attribute name="TI" type="xs:string"/>
					<xs:attribute name="VIEW" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="STATE">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="L-10" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="S" type="xs:string"/>
			<xs:attribute name="SI" type="xs:string"/>
			<xs:attribute name="SYSCOND" type="xs:string"/>
			<xs:attribute name="T" type="xs:string"/>
			<xs:attribute name="TI" type="xs:string"/>
			<xs:attribute name="VIEW" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="STATE-1">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="S" type="xs:string"/>
					<xs:attribute name="SI" type="xs:string"/>
					<xs:attribute name="SYSCOND" type="xs:string"/>
					<xs:attribute name="T" type="xs:string"/>
					<xs:attribute name="TI" type="xs:string"/>
					<xs:attribute name="VIEW" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="STD">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="SHORT-NAME"/>
				<xs:element ref="LONG-NAME-1"/>
				<xs:element ref="SUBTITLE" minOccurs="0"/>
				<xs:element ref="STATE-1" minOccurs="0"/>
				<xs:element ref="DATE-1" minOccurs="0"/>
				<xs:element ref="URL" minOccurs="0"/>
				<xs:element ref="POSITION" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="F-ID-CLASS" type="xs:NMTOKEN" fixed="STD"/>
			<xs:attribute name="ID" type="xs:ID"/>
			<xs:attribute name="S" type="xs:string"/>
			<xs:attribute name="SI" type="xs:string"/>
			<xs:attribute name="SYSCOND" type="xs:string"/>
			<xs:attribute name="T" type="xs:string"/>
			<xs:attribute name="TI" type="xs:string"/>
			<xs:attribute name="VIEW" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="SUB">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="S" type="xs:string"/>
					<xs:attribute name="SI" type="xs:string"/>
					<xs:attribute name="SYSCOND" type="xs:string"/>
					<xs:attribute name="T" type="xs:string"/>
					<xs:attribute name="TI" type="xs:string"/>
					<xs:attribute name="VIEW" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="SUBTITLE">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="S" type="xs:string"/>
					<xs:attribute name="SI" type="xs:string"/>
					<xs:attribute name="SYSCOND" type="xs:string"/>
					<xs:attribute name="T" type="xs:string"/>
					<xs:attribute name="TI" type="xs:string"/>
					<xs:attribute name="VIEW" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="SUP">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="S" type="xs:string"/>
					<xs:attribute name="SI" type="xs:string"/>
					<xs:attribute name="SYSCOND" type="xs:string"/>
					<xs:attribute name="T" type="xs:string"/>
					<xs:attribute name="TI" type="xs:string"/>
					<xs:attribute name="VIEW" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="TEAM-MEMBER">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="SHORT-NAME"/>
				<xs:element ref="LONG-NAME" minOccurs="0"/>
				<xs:element ref="DESC" minOccurs="0"/>
				<xs:element ref="CATEGORY" minOccurs="0"/>
				<xs:element ref="ROLES" minOccurs="0"/>
				<xs:element ref="DEPARTMENT" minOccurs="0"/>
				<xs:element ref="ADDRESS" minOccurs="0"/>
				<xs:element ref="ZIP" minOccurs="0"/>
				<xs:element ref="CITY" minOccurs="0"/>
				<xs:element ref="PHONE" minOccurs="0"/>
				<xs:element ref="FAX" minOccurs="0"/>
				<xs:element ref="EMAIL" minOccurs="0"/>
				<xs:element ref="HOMEPAGE" minOccurs="0"/>
				<xs:element ref="TEAM-MEMBER-REFS" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="F-ID-CLASS" type="xs:NMTOKEN" fixed="TEAM-MEMBER"/>
			<xs:attribute name="ID" type="xs:ID"/>
			<xs:attribute name="S" type="xs:string"/>
			<xs:attribute name="SI" type="xs:string"/>
			<xs:attribute name="SYSCOND" type="xs:string"/>
			<xs:attribute name="T" type="xs:string"/>
			<xs:attribute name="TI" type="xs:string"/>
			<xs:attribute name="VIEW" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="TEAM-MEMBER-REF">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="F-ID-CLASS" type="xs:NMTOKEN" fixed="TEAM-MEMBER"/>
					<xs:attribute name="HYNAMES" type="xs:NMTOKENS" fixed="LINKEND ID-REF"/>
					<xs:attribute name="HYTIME" type="xs:NMTOKEN" fixed="CLINK"/>
					<xs:attribute name="ID-REF" type="xs:IDREF"/>
					<xs:attribute name="S" type="xs:string"/>
					<xs:attribute name="SI" type="xs:string"/>
					<xs:attribute name="SYSCOND" type="xs:string"/>
					<xs:attribute name="T" type="xs:string"/>
					<xs:attribute name="TI" type="xs:string"/>
					<xs:attribute name="VIEW" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="TEAM-MEMBER-REFS">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="TEAM-MEMBER-REF" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="S" type="xs:string"/>
			<xs:attribute name="SI" type="xs:string"/>
			<xs:attribute name="SYSCOND" type="xs:string"/>
			<xs:attribute name="T" type="xs:string"/>
			<xs:attribute name="TI" type="xs:string"/>
			<xs:attribute name="VIEW" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="TEAM-MEMBERS">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="TEAM-MEMBER" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="S" type="xs:string"/>
			<xs:attribute name="SI" type="xs:string"/>
			<xs:attribute name="SYSCOND" type="xs:string"/>
			<xs:attribute name="T" type="xs:string"/>
			<xs:attribute name="TI" type="xs:string"/>
			<xs:attribute name="VIEW" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="TOOL">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="S" type="xs:string"/>
					<xs:attribute name="SI" type="xs:string"/>
					<xs:attribute name="SYSCOND" type="xs:string"/>
					<xs:attribute name="T" type="xs:string"/>
					<xs:attribute name="TI" type="xs:string"/>
					<xs:attribute name="VIEW" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="TOOL-VERSION">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="S" type="xs:string"/>
					<xs:attribute name="SI" type="xs:string"/>
					<xs:attribute name="SYSCOND" type="xs:string"/>
					<xs:attribute name="T" type="xs:string"/>
					<xs:attribute name="TI" type="xs:string"/>
					<xs:attribute name="VIEW" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="TT">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="S" type="xs:string"/>
					<xs:attribute name="SI" type="xs:string"/>
					<xs:attribute name="SYSCOND" type="xs:string"/>
					<xs:attribute name="T" type="xs:string"/>
					<xs:attribute name="TI" type="xs:string"/>
					<xs:attribute name="TYPE" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:NMTOKEN">
								<xs:enumeration value="SGMLTAG"/>
								<xs:enumeration value="SGML-ATTRIBUTE"/>
								<xs:enumeration value="TOOL"/>
								<xs:enumeration value="PRODUCT"/>
								<xs:enumeration value="VARIABLE"/>
								<xs:enumeration value="STATE"/>
								<xs:enumeration value="PRM"/>
								<xs:enumeration value="MATERIAL"/>
								<xs:enumeration value="CONTROL-ELEMENT"/>
								<xs:enumeration value="CODE"/>
								<xs:enumeration value="ORGANISATION"/>
								<xs:enumeration value="OTHER"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="USER-DEFINED-TYPE" type="xs:string"/>
					<xs:attribute name="VIEW" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="URL">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="MIME-TYPE" type="xs:string"/>
					<xs:attribute name="S" type="xs:string"/>
					<xs:attribute name="SI" type="xs:string"/>
					<xs:attribute name="SYSCOND" type="xs:string"/>
					<xs:attribute name="T" type="xs:string"/>
					<xs:attribute name="TI" type="xs:string"/>
					<xs:attribute name="VIEW" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="USABLE-FOR-VARIANT">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="V" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="NAME" type="xs:string"/>
			<xs:attribute name="S" type="xs:string"/>
			<xs:attribute name="SI" type="xs:string"/>
			<xs:attribute name="SYSCOND" type="xs:string"/>
			<xs:attribute name="T" type="xs:string"/>
			<xs:attribute name="TI" type="xs:string"/>
			<xs:attribute name="VIEW" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="USABLE-FOR-VARIANTS">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="USABLE-FOR-VARIANT" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="S" type="xs:string"/>
			<xs:attribute name="SI" type="xs:string"/>
			<xs:attribute name="SYSCOND" type="xs:string"/>
			<xs:attribute name="T" type="xs:string"/>
			<xs:attribute name="TI" type="xs:string"/>
			<xs:attribute name="VIEW" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="USED-LANGUAGES">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="L-10" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="S" type="xs:string"/>
			<xs:attribute name="SI" type="xs:string"/>
			<xs:attribute name="SYSCOND" type="xs:string"/>
			<xs:attribute name="T" type="xs:string"/>
			<xs:attribute name="TI" type="xs:string"/>
			<xs:attribute name="VIEW" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="V">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="S" type="xs:string"/>
					<xs:attribute name="SI" type="xs:string"/>
					<xs:attribute name="SYSCOND" type="xs:string"/>
					<xs:attribute name="T" type="xs:string"/>
					<xs:attribute name="TI" type="xs:string"/>
					<xs:attribute name="VIEW" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="VERBATIM">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="L-5" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="ALLOW-BREAK" type="xs:NMTOKEN" default="1"/>
			<xs:attribute name="FLOAT">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="FLOAT"/>
						<xs:enumeration value="NO-FLOAT"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="HELP-ENTRY" type="xs:string"/>
			<xs:attribute name="KEEP-WITH-PREVIOUS">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="KEEP"/>
						<xs:enumeration value="NO-KEEP"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="PGWIDE">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="PGWIDE"/>
						<xs:enumeration value="NO-PGWIDE"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="S" type="xs:string"/>
			<xs:attribute name="SI" type="xs:string"/>
			<xs:attribute name="SYSCOND" type="xs:string"/>
			<xs:attribute name="T" type="xs:string"/>
			<xs:attribute name="TI" type="xs:string"/>
			<xs:attribute name="VIEW" type="xs:string"/>
			<xs:attribute ref="xml:space" default="preserve"/>
   </xs:complexType>
	</xs:element>
	<xs:element name="XDOC">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="SHORT-NAME"/>
				<xs:element ref="LONG-NAME-1" minOccurs="0"/>
				<xs:element ref="DESC" minOccurs="0"/>
				<xs:element ref="NUMBER" minOccurs="0"/>
				<xs:element ref="STATE-1" minOccurs="0"/>
				<xs:element ref="DATE-1" minOccurs="0"/>
				<xs:element ref="PUBLISHER" minOccurs="0"/>
				<xs:element ref="URL" minOccurs="0"/>
				<xs:element ref="POSITION" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="F-ID-CLASS" type="xs:NMTOKEN" fixed="XDOC"/>
			<xs:attribute name="ID" type="xs:ID"/>
			<xs:attribute name="S" type="xs:string"/>
			<xs:attribute name="SI" type="xs:string"/>
			<xs:attribute name="SYSCOND" type="xs:string"/>
			<xs:attribute name="T" type="xs:string"/>
			<xs:attribute name="TI" type="xs:string"/>
			<xs:attribute name="VIEW" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="XFILE">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="SHORT-NAME" minOccurs="0"/>
				<xs:element ref="LONG-NAME-1" minOccurs="0"/>
				<xs:element ref="URL" minOccurs="0"/>
				<xs:element ref="NOTATION" minOccurs="0"/>
				<xs:element ref="TOOL" minOccurs="0"/>
				<xs:element ref="TOOL-VERSION" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="F-ID-CLASS" type="xs:NMTOKEN" fixed="XFILE"/>
			<xs:attribute name="ID" type="xs:ID"/>
			<xs:attribute name="S" type="xs:string"/>
			<xs:attribute name="SI" type="xs:string"/>
			<xs:attribute name="SYSCOND" type="xs:string"/>
			<xs:attribute name="T" type="xs:string"/>
			<xs:attribute name="TI" type="xs:string"/>
			<xs:attribute name="VIEW" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="XREF">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="EXT-ID-CLASS" type="xs:string"/>
					<xs:attribute name="HYNAMES" type="xs:NMTOKENS" fixed="LINKEND ID-REF"/>
					<xs:attribute name="HYTIME" type="xs:NMTOKEN" fixed="CLINK"/>
					<xs:attribute name="ID-CLASS" type="xs:NMTOKEN" use="required"/>
					<xs:attribute name="ID-REF" type="xs:IDREF"/>
					<xs:attribute name="S" type="xs:string"/>
					<xs:attribute name="SHOW-CONTENT" default="NO-SHOW-CONTENT">
						<xs:simpleType>
							<xs:restriction base="xs:NMTOKEN">
								<xs:enumeration value="SHOW-CONTENT"/>
								<xs:enumeration value="NO-SHOW-CONTENT"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="SHOW-RESOURCE-LONG-NAME" default="SHOW-LONG-NAME">
						<xs:simpleType>
							<xs:restriction base="xs:NMTOKEN">
								<xs:enumeration value="SHOW-LONG-NAME"/>
								<xs:enumeration value="NO-SHOW-LONG-NAME"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="SHOW-RESOURCE-NUMBER" default="SHOW-NUMBER">
						<xs:simpleType>
							<xs:restriction base="xs:NMTOKEN">
								<xs:enumeration value="SHOW-NUMBER"/>
								<xs:enumeration value="NO-SHOW-NUMBER"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="SHOW-RESOURCE-PAGE" default="SHOW-PAGE">
						<xs:simpleType>
							<xs:restriction base="xs:NMTOKEN">
								<xs:enumeration value="SHOW-PAGE"/>
								<xs:enumeration value="NO-SHOW-PAGE"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="SHOW-RESOURCE-SHORT-NAME" default="SHOW-SHORT-NAME">
						<xs:simpleType>
							<xs:restriction base="xs:NMTOKEN">
								<xs:enumeration value="SHOW-SHORT-NAME"/>
								<xs:enumeration value="NO-SHOW-SHORT-NAME"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="SHOW-RESOURCE-TYPE" default="SHOW-TYPE">
						<xs:simpleType>
							<xs:restriction base="xs:NMTOKEN">
								<xs:enumeration value="SHOW-TYPE"/>
								<xs:enumeration value="NO-SHOW-TYPE"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="SHOW-SEE" default="NO-SHOW-SEE">
						<xs:simpleType>
							<xs:restriction base="xs:NMTOKEN">
								<xs:enumeration value="SHOW-SEE"/>
								<xs:enumeration value="NO-SHOW-SEE"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="SI" type="xs:string"/>
					<xs:attribute name="SYSCOND" type="xs:string"/>
					<xs:attribute name="T" type="xs:string"/>
					<xs:attribute name="TI" type="xs:string"/>
					<xs:attribute name="VIEW" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="XREF-TARGET">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="SHORT-NAME" minOccurs="0"/>
				<xs:element ref="LONG-NAME-1"/>
			</xs:sequence>
			<xs:attribute name="F-ID-CLASS" type="xs:NMTOKEN" fixed="XREF-TARGET"/>
			<xs:attribute name="ID" type="xs:ID"/>
			<xs:attribute name="S" type="xs:string"/>
			<xs:attribute name="SI" type="xs:string"/>
			<xs:attribute name="SYSCOND" type="xs:string"/>
			<xs:attribute name="T" type="xs:string"/>
			<xs:attribute name="TI" type="xs:string"/>
			<xs:attribute name="VIEW" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ZIP">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="S" type="xs:string"/>
					<xs:attribute name="SI" type="xs:string"/>
					<xs:attribute name="SYSCOND" type="xs:string"/>
					<xs:attribute name="T" type="xs:string"/>
					<xs:attribute name="TI" type="xs:string"/>
					<xs:attribute name="VIEW" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:notation name="BMP" public="-//ISBN 0-7923-9432-1::Graphic Notation//NOTATION Microsoft Windows Bitmap//EN"/>
	<xs:notation name="CGMBIN" public="-//ISO 8632/3//NOTATION Binary encoding//EN"/>
	<xs:notation name="EPS" public="+//ISBN 0-7923-9432-1::Graphic Notation//NOTATION Adobe Systems Encapulated PostScript//EN"/>
	<xs:notation name="GIF" public="+//ISBN 0-7923-9432-1::Graphic Notation//NOTATION CompuServe Graphic Interchange Format//EN"/>
	<xs:notation name="HTML" public="-//W3C//NOTATION HTML 4.0//EN"/>
	<xs:notation name="JPEG" public="-//ISO/IEC 10918:1993//NOTATION Digital Compression and Coding of Continuous-tone Still Images (JPEG)//EN"/>
	<xs:notation name="PCX" public="+//ISBN 0-7923-9432-1::Graphic Notation//NOTATION ZSoft PCX bitmap//EN"/>
	<xs:notation name="PDF" public="-//Adobe Systems//NOTATION Portable Document Format//EN"/>
	<xs:notation name="PS" public="-//ISBN 0--201--18127--4::Adobe//NOTATION PostScript//EN"/>
	<xs:notation name="SGML" public="+//ISO 8879:1986//NOTATION Standard Generalized Markup Language//EN"/>
	<xs:notation name="TEX" public="+//ISBN 0-201-13448-9::Knuth//NOTATION The TeXbook//EN"/>
	<xs:notation name="TIFF" public="+//ISBN 0-7923-9432-1::Graphic Notation//NOTATION Aldus/Microsoft Tagged Interchange File Format//EN"/>
	<xs:notation name="WMF" public="+//ISBN 0-7923-9432-1::Graphic Notation//NOTATION Microsoft Windows Metafile//EN"/>
</xs:schema>
